html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body, input {
	font-family: sans-serif;
}

p {
	margin: 0 0 1em 0;
	padding: 0;
}

a {
	color: currentColor;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

.no-text-wrap {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#dtbb {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-width: 960px;
	background-color: white;
}

#entriesholder {
	position: absolute;
	top: 68px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #373d44;
	/* 2 to 6 columns with padding centered for that responsive vibe */
}

#entriesholder .entries {
	padding: 20px 4px 20px 20px;
	width: 832px;
	margin: 0 auto;
	position: relative;
}

@media (min-width: 1272px) {
	#entriesholder .entries {
		width: 1248px;
	}
}

@media (min-width: 1688px) {
	#entriesholder .entries {
		width: 1664px;
	}
}

@media (min-width: 2104px) {
	#entriesholder .entries {
		width: 2080px;
	}
}

@media (min-width: 2520px) {
	#entriesholder .entries {
		width: 2496px;
	}
}

.entry {
	position: absolute;
	box-sizing: border-box;
	width: 392px;
	height: 122px;
	cursor: pointer;
	background-color: white;
}

.entry > a {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 16px;
	margin: 0;
	color: currentColor;
	text-decoration: none;
}

.entry > a.compo {
	border-right: 8px solid #f79122;
}

.entry > a.jam {
	border-right: 8px solid #ee5533;
}

.entry > a:hover {
	border-right-width: 12px;
}

.entry > a:hover h2 {
	color: #383838;
}

.entry > a:hover .author {
	color: #686868;
}

.entry .thumb {
	display: inline-block;
	width: 122px;
	height: 122px;
	float: left;
	margin-right: 0;
	position: relative;
	left: -16px;
	top: -16px;
	background-position: center center;
	background-size: cover;
}

.entry h2 {
	font-size: 17px;
	margin: 0 0 .2em 0;
	max-width: 275px;
	color: #585858;
}

.entry .author {
	font-size: 12px;
	margin: 0 0 .8em 0;
	color: #888;
}

.entry .pills {
	max-width: 248px;
	position: absolute;
	bottom: 16px;
	left: 136px;
	margin: 0;
	padding: 0;
}

.entry .pill {
	display: inline-block;
	font-size: 11px;
	padding: 2px 4px;
	background-color: #eee;
	border-radius: 3px;
	margin-right: 2px;
	color: #777;
}

#controls {
	position: relative;
	padding: 20px 12px;
	background: linear-gradient(to bottom, #18181c 0%, #171a22 100%);
	border-bottom: 1px solid #333;
	cursor: default;
}

#controls .filters {
	line-height: 18px;
	text-align: center;
}

#controls input[type=text] {
	margin: 0 16px;
	width: 220px;
	font-size: 15px;
	padding: 4px 8px;
	border: 1px solid #b6b6b6;
	line-height: 18px;
	border-radius: 3px;
}

#controls select {
	font-size: 14px;
	margin: 0;
	min-width: 140px;
	border-color: white;
}

#controls select[data-filter=platform] {
	margin-right: 16px;
	width: 140px;
}

#controls select[data-filter=issue] {
	width: 220px;
}

@media (min-width: 1272px) {
	#controls input[type=text] {
		width: 280px;
	}
	#controls select[data-filter=platform] {
		width: 200px;
	}
	#controls select[data-filter=issue] {
		width: 280px;
	}
}

#controls input[type=radio] {
	display: none;
}

#controls label {
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	padding: 5px 12px 1px 12px;
	cursor: pointer;
	border-bottom-color: #f79122;
	border-style: solid;
	border-width: 0 0 4px 0;
	background-color: white;
	min-width: 70px;
	line-height: 17px;
	margin-right: 1px;
}

#controls label.left {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-color: #4880bd;
}

#controls label.right {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-color: #ee5533;
}

#controls input:checked + label {
	background-color: #f79122;
	border-color: #f79122;
	color: white;
}

#controls input:checked + label.left {
	background-color: #4880bd;
	border-color: #4880bd;
	color: white;
}

#controls input:checked + label.right {
	background-color: #ee5533;
	border-color: #ee5533;
	color: white;
}

#smokedglass {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: transparent;
	z-index: 1;
	transition: background-color 0.5s ease-out;
}

#smokedglass .status {
	box-sizing: border-box;
	position: absolute;
	width: 400px;
	padding: 20px;
	top: 30vh;
	left: 50vw;
	margin-left: -220px;
	background: linear-gradient(to bottom, #202022 0%, #171a22 100%);
	border-right: 12px solid #4880bd;
	color: white;
	transition: opacity 0.5s ease-out;
	opacity: 0;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

#smokedglass.active {
	background-color: rgba(0, 0, 0, 0.4);
}

#smokedglass.active .status {
	opacity: 1;
}

#smokedglass .bar {
	position: relative;
	width: 348px;
	height: 8px;
	background-color: #888;
}

#smokedglass .progress {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #f79122;
	height: 8px;
	width: 0;
}
